body{
    background-color: #edefef;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}


header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 150px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: black;
    height: 50px;
    
}

nav li{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;    
}

.nav-links{
    color: white;
    text-decoration: none;
    
}

.nav-links:hover{
    background-color: aquamarine;
    color: grey;
    text-decoration: underline;
}

.nav-links:active{
    background-color: #04AA6D;
    color: aqua;
}


/*section{
    background-image: url("banner2.jpeg");
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 100%;
    height: 250px;
}*/

.sec{
    background-image: url("banner3.jpeg");
    background-origin: content-box;
    background-size: cover;
    background-position: 75%;
    color: white;
    
    min-height: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.sec h1{
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}


.sec p{
    font-size: 2rem;
    margin: 0;
    text-shadow: 2px 2px 4px #333333;
}


.white{
    color: white;
}


.sec .book{
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 3px solid white;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;;
    padding-top: 10px;
    padding-bottom: 10px;
}


.book:hover{
    background-color: grey;
    text-decoration: underline;
}

.sec1{
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

.sec2{
    border: 2px solid;
    padding: 20px;
}

.sec2 img{
    max-width: 100%;
}

.foot4 li{
    list-style: none;
}

h2{
    font-size: 2rem;
    color: black;
    margin: 1rem 0;
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.foot{
    background-color: black;
    border: 1px solid #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -1rem;
    padding: 1rem;
}

.copy{
    color: white;
    text-align: right;
    margin-top: 4rem;
    border-top: red;
    padding-bottom: 2rem;

    
}

.logo2{
    width: 3.5rem;
}


@media (max-width: 800px) {
    .sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec2 {
        width: 100%; /* Make each article take up the full width */
        margin-bottom: 20px; /* Add some space between articles */
    }
}


@media (max-width: 394px) {
    nav ul{
        height: 30px;
        
    }
    
    nav li{
        display: inline-block;
        text-align: center;
        padding: 8px 10px;
        font-size: 15px; 
    }
}


@media (max-width: 655px){
    .sec h1{
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }

    .sec p{
        font-size: 1.3rem;
    }

    .sec .book{
        width: 150px;
        font-weight: bold;
        font-size: 15px;
        margin-top: 20px;;
        padding-top: 10px;
        padding-bottom: 5px;
    }   
}



@media (max-width: 409px){
    .sec h1{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .sec p{
        font-size: 1rem;
    }
}

